upstream prometheus_backend {
	server prometheus:9090;
}

upstream web_backend {
	server web:4000;
}

server {
	listen 80;
	server_name localhost;

	location /prometheus {
		proxy_pass http://prometheus_backend/prometheus;
	}

	location / {
		proxy_pass http://web_backend;
	}
}
